.parentDiv {
  padding-block: 10rem 20rem;
  align-content: center;
  padding-inline: 7.5% 20%;
  min-height: 85rem;
}

.register__title > p:first-child {
  font-size: var(--h4-font-size);
  font-weight: var(--weight-700);
}

.register__title > p:last-child {
  font-size: var(--d1-font-size);
  font-weight: var(--weight-400);
}

.parentDiv > p {
  padding-block-start: 1rem;
  font-size: var(--h5-font-size);
  font-weight: var(--weight-700);
}

.tab__list {
  display: flex;
  margin: auto;
}

.login__check {
  padding-block-start: 1rem;
  text-align: center;
}

.login__check > button:first-child {
  width: 100%;
  font-size: var(--h5-font-size);
  font-weight: var(--weight-700);
}

.register__check > *:nth-child(3),
.register__check > *:nth-child(4),
.register__check > *:nth-child(5),
.register__title,
.userTypeSelection,
.parentDiv > p {
  text-align: center;
}

.register__check {
  padding-block-end: 1rem;
}

/* ################################### RESPONSIVE ################################### */
@media screen and (max-width: 768px) {
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> RESPONSIVE 768 px <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .parentDiv {
    padding-inline: 1rem;
  }
}
