.toggleBtn {
  color: #536c73;
  padding: 9px 12px;
  background: #fff;
  border-radius: 8px;
}

.icon {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: #f11d1d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #111111;
}

.para {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #536c73;
}

.saveIcon {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.folder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #339f5e14;
}

.folderText {
  margin: 0;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  color: #324a51;
  text-transform: capitalize;
}

.folderSpan {
  font-size: 8px;
  line-height: 0;
  font-weight: 400;
  color: #768f97;
}

.cancelBtn {
  width: 80px;
  height: 42px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  line-height: 22px;
  color: #324a51 !important;
  cursor: pointer;
  border: 1px solid #f4f4f4 !important;
  background: transparent !important;
}

.cancelBtn:hover {
  color: #324a51;
  border: 1px solid #f4f4f4;
  background: transparent;
}

.saveBtn {
  width: 80px;
  height: 42px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  line-height: 22px;
  color: #ffffff !important;
  border: 1px solid #339f5e !important;
  background: #339f5e !important;
}

.saveBtn:hover {
  color: #ffffff;
  background: #339f5e;
  border: 1px solid #339f5e;
}

.selectedFolder {
  background-color: #339f5e14;
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: #111111;
  line-height: 24px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}
