.parentDiv {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.register__container {
  height: 100%;
}

.register__content {
  display: grid;
  grid-template-columns: repeat(1, 3fr 2fr);
  height: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

/* ################################### RESPONSIVE ################################### */
/* ---------- BREAKPOINTS ---------- */
/* For large devices */
@media screen and (max-width: 1400px) {
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> RESPONSIVE 1400 px <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .register__content {
    max-width: 100%;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> RESPONSIVE 768 px <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .register__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}